<head>
  <link
    href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="styles.css"/>
</head>
<body>

  <div class="flex flex-col mb-8 md:mb-auto gap-3.5 flex-1 p-4 mt-16">
  <form id="search_form" class="flex items-center">
     <label for="simple-search" class="sr-only">Search</label>
     <div class="relative w-full">
       <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
         <svg
           aria-hidden="true"
           class="w-5 h-5 text-gray-500 dark:text-gray-400"
           fill="currentColor"
           viewBox="0 0 20 20"
           xmlns="http://www.w3.org/2000/svg"
         >
           <path
             fill-rule="evenodd"
             d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
             clip-rule="evenodd"
           ></path>
         </svg>
       </div>
       <input
         type="text"
         id="search_input"
         class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
         placeholder="Search"
         required
       />
     </div>
     <button
       type="submit"
       class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
     >
       <svg
         class="w-5 h-5"
         fill="none"
         stroke="currentColor"
         viewBox="0 0 24 24"
         xmlns="http://www.w3.org/2000/svg"
       >
         <path
           stroke-linecap="round"
           stroke-linejoin="round"
           stroke-width="2"
           d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
         ></path>
       </svg>
       <span class="sr-only">Search</span>
     </button>
   </form>
    <h2
      class="flex gap-3 items-center m-auto text-lg font-bold md:flex-col md:gap-2"
    >
      <svg
        stroke="currentColor"
        fill="none"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-6 w-6"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"
        ></path>
        <line x1="12" y1="9" x2="12" y2="13"></line>
        <line x1="12" y1="17" x2="12.01" y2="17"></line>
      </svg>
      Files
    </h2>

    <ul
      id="list_container"
      class="flex flex-col gap-3.5 w-full sm:max-w-md m-auto"
    >
      <script>
          function search(f) {
          var path = "/search/" + f;
          fetch(path)
            .then(function (response) {
              if (response.ok) {
                // If the response is JSON data
                if (response.headers.get("content-type").includes("application/json")) {
                  return response.json(); // Parse and return the JSON data
                } else {
                  return response.blob(); // If the response is a file
                }
              } else {
                throw new Error("Request failed with status " + response.status);
              }
            })
            .then(function (data) {
              var listcontainer = document.getElementById("list_container");
              listcontainer.innerHTML = "";
              var files = data.files

              files.forEach(function (entry) {
                var list = document.createElement("li");
                list.textContent = entry.File_name;
                list.className = "w-full bg-gray-100 dark:bg-white/5 p-3 rounded-md";
                list.onclick = function () {
                  getVideo(entry.Path);
                };

                listcontainer.appendChild(list);
              });
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
          var searchForm = document.getElementById("search_form");
          var searchInput = document.getElementById("search_input");

          searchForm.addEventListener("submit", function (event) {
            event.preventDefault();
            var searchTerm = searchInput.value.trim();
            if (searchTerm !== "") {
              search(searchTerm);
            }
          });
        });
          function getVideo(path) {
            var video_path = "/public/" + path;
            var newWindow = window.open();
            newWindow.document.write(
                    `<html>
                <head>
                  <title>Video Player</title>
                  <style>
                    body {
                      margin: 0;
                      padding: 0;
                      overflow: hidden;
                    }
                    video {
                      width:100% ;
                    }
                    div.cent {
                    text-align: center;

                    }
                  </style>
                </head>
                <body>
                  <div id="cent">
                    <center>
                      <video width="600px" height="300px" controls>
                        <source src="${video_path}" type="video/mp4" />
                        Your browser does not support the video tag.
                      </video>
                    </center>
                  </div>
                </body>
              </html>`
            );
          }
          function getFiles(f) {
            var path = "/files/" + f;
            fetch(path)
              .then(function (response) {
                if (response.ok) {
                  // If the response is JSON data
                  if (
                    response.headers
                      .get("content-type")
                      .includes("application/json")
                  ) {
                    return response.json(); // Parse and return the JSON data
                  } else {
                    return response.blob(); // If the response is a file
                  }
                } else {
                  throw new Error(
                    "Request failed with status " + response.status
                  );
                }
              })
              .then(function (data) {
                var listcontainer = document.getElementById("list_container");
                listcontainer.innerHTML = "";

                data.files.forEach(function (entry) {
                  if(entry.Path != ""){
                    var list = document.createElement("li");
                    list.textContent = entry.File_name;
                    list.className ="w-full bg-gray-100 dark:bg-white/5 p-3 rounded-md";
                     list.onclick = function () {
                        getVideo(entry.Path);
                      };

                    listcontainer.appendChild(list);
                    return
                  }
                  var list = document.createElement("li");
                  list.textContent = entry.File_name;
                  list.className ="w-full bg-gray-100 dark:bg-white/5 p-3 rounded-md";
                  list.onclick = function () {
                    getFiles(entry.Folder);
                  };

                  listcontainer.appendChild(list);
                });
              });
          }
          var folders =JSON.parse(`{{ .folders }}`)

          folders.forEach((element) => {
            var listItem = `<li onclick="getFiles('${element.folders}')" class="w-full bg-gray-100 dark:bg-white/5 p-3 rounded-md">${element.folders}</li>`;
              document.writeln(listItem);
          });
      </script>
      <li class="w-full bg-gray-100 dark:bg-white/5 p-3 rounded-md">
        Limited operating hours
      </li>
      <li class="w-full bg-gray-100 dark:bg-white/5 p-3 rounded-md">
        Limited warranty coverage
      </li>
      <li class="w-full bg-gray-100 dark:bg-white/5 p-3 rounded-md">
        Limited geographic coverage
      </li>
    </ul>
  </div>
</body>
